In [1]:
import os
import json
import pandas as pd
import mysql
import mysql.connector

1.DataFrame of aggregated Insurance

In [2]:
#aggre_Trans
path1="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/aggregated/insurance/country/india/state/"
agg_state_list= os.listdir(path1)

agg_insur ={"State":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }


for state in agg_state_list:
    current_states=path1 + state + "/"
    agg_year_list=os.listdir(current_states)
    
    for year in agg_year_list:
        current_year=current_states + year + "/"
        agg_file_list=os.listdir(current_year)

        for file in agg_file_list:
            current_file=current_year + file
            data=open(current_file , 'r')
            A=json.load(data)

            for i in  A["data"]["transactionData"]:
                trans_type=i["name"]
                trans_count=i['paymentInstruments'][0]['count']
                trans_amount=i['paymentInstruments'][0]['amount']

                agg_insur["Transaction_type"].append(trans_type)
                agg_insur["Transaction_count"].append(trans_count)
                agg_insur["Transaction_amount"].append(trans_amount)
                agg_insur["State"].append(state)
                agg_insur["Years"].append(year)
                agg_insur["Quarter"].append(int(file.strip(".json")))

df_agg_insur=pd.DataFrame(agg_insur)

2.DataFrame of aggregated Transation

In [4]:
#aggre_Trans
path2="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_state_list= os.listdir(path2)

agg_trans ={"State":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }


for state in agg_state_list:
    current_states=path2 + state + "/"
    agg_year_list=os.listdir(current_states)
    
    for year in agg_year_list:
        current_year=current_states + year + "/"
        agg_file_list=os.listdir(current_year)

        for file in agg_file_list:
            current_file=current_year + file
            data=open(current_file , 'r')
            B=json.load(data)

            for i in  B["data"]["transactionData"]:
                trans_type=i["name"]
                trans_count=i['paymentInstruments'][0]['count']
                trans_amount=i['paymentInstruments'][0]['amount']

                agg_trans["Transaction_type"].append(trans_type)
                agg_trans["Transaction_count"].append(trans_count)
                agg_trans["Transaction_amount"].append(trans_amount)
                agg_trans["State"].append(state)
                agg_trans["Years"].append(year)
                agg_trans["Quarter"].append(int(file.strip(".json")))

df_agg_trans=pd.DataFrame(agg_trans)

3.Dataframe of aggregated user

In [5]:
#aggre_user
path3="C:/Users/abina/OneDrive/Desktop/phonepE/pulse/data/aggregated/user/country/india/state/"
agg_state_list= os.listdir(path3)

agg_user = {"State":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_count":[], "Percentage":[]}


for state in agg_state_list:
    current_states=path3 + state + "/"
    agg_year_list=os.listdir(current_states)
    
    for year in agg_year_list:
        current_year=current_states + year + "/"
        agg_file_list=os.listdir(current_year)

        for file in agg_file_list:
            current_file=current_year + file
            data=open(current_file , 'r')
            C=json.load(data)
            
            try:
                for i in  C["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i['count']
                    percent=i['percentage']
                    
                    agg_user["Brands"].append(brand)
                    agg_user["Transaction_count"].append(count)
                    agg_user["Percentage"].append(percent)
                    agg_user["State"].append(state)
                    agg_user["Years"].append(year)
                    agg_user["Quarter"].append(int(file.strip(".json")))
            except:
                pass
df_agg_user=pd.DataFrame(agg_user)

4.Dataframe of map Insurance

In [6]:
#map_insur
path4="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/map/insurance/hover/country/india/state/"
map_state_list= os.listdir(path4)
#print(agg_state_list)
map_insur = {"State":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}


for state in map_state_list:
    current_states=path4 + state + "/"
    map_year_list=os.listdir(current_states)
    #print(agg_year_list)
    for year in map_year_list:
        current_year=current_states + year + "/"
        #print(current_year)
        map_file_list=os.listdir(current_year)

        for file in map_file_list:
            current_file=current_year + file
            data=open(current_file , 'r')
            D=json.load(data)
            
            for i in  D["data"]["hoverDataList"]:
                    district=i["name"]
                    count=i["metric"][0]['count']
                    trans_amount=i["metric"][0]['amount']


                    map_insur["District"].append(district)
                    map_insur["Transaction_count"].append(count)
                    map_insur["Transaction_amount"].append(trans_amount)
                    map_insur["State"].append(state)
                    map_insur["Years"].append(year)
                    map_insur["Quarter"].append(int(file.strip(".json")))
            
df_map_insur=pd.DataFrame(map_insur)

5.Dataframe of map transactions

In [7]:
#map_tans
path5="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_state_list= os.listdir(path5)
#print(agg_state_list)
map_trans = {"State":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}


for state in map_state_list:
    current_states=path5 + state + "/"
    map_year_list=os.listdir(current_states)
    #print(agg_year_list)
    for year in map_year_list:
        current_year=current_states + year + "/"
        #print(current_year)
        map_file_list=os.listdir(current_year)

        for file in map_file_list:
            current_file=current_year + file
            data=open(current_file , 'r')
            E=json.load(data)
            
            for i in  E["data"]["hoverDataList"]:
                    district=i["name"]
                    count=i["metric"][0]['count']
                    trans_amount=i["metric"][0]['amount']


                    map_trans["District"].append(district)
                    map_trans["Transaction_count"].append(count)
                    map_trans["Transaction_amount"].append(trans_amount)
                    map_trans["State"].append(state)
                    map_trans["Years"].append(year)
                    map_trans["Quarter"].append(int(file.strip(".json")))
            
df_map_trans=pd.DataFrame(map_trans)

6.Dataframe of map user

In [8]:
#map_user
path6="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/map/user/hover/country/india/state/"
map_state_list= os.listdir(path6)


map_user = {"State":[], "Years":[], "Quarter":[], "District":[], "RegisteredUser":[], "AppOpens":[]}

for state in map_state_list:
    current_states=path6 + state + "/"
    map_year_list=os.listdir(current_states)
    
    for year in map_year_list:
        current_year=current_states + year + "/"
        #print(current_year)
        map_file_list=os.listdir(current_year)

        for file in map_file_list:
            current_file=current_year + file
            data=open(current_file , 'r')
            F=json.load(data)
            
            for i in  F["data"]["hoverData"].items():
                    district=i[0]
                    regitered_user=i[1]["registeredUsers"]
                    appopens=i[1]["appOpens"]

                    map_user["District"].append(district)
                    map_user["RegisteredUser"].append(regitered_user)
                    map_user["AppOpens"].append(appopens)
                    map_user["State"].append(state)
                    map_user["Years"].append(year)
                    map_user["Quarter"].append(int(file.strip(".json")))
            
df_map_user=pd.DataFrame(map_user)

7.TOP INSURANCE DISTRICT VISE

In [9]:
#TOP_INSUR_DIST
path7="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/top/insurance/country/india/state/"
top_state_list=os.listdir(path7)
#print(top_state_list)

top_insur_dist = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_state_list:
    current_state= path7 + state +"/"
    top_year_list= os.listdir(current_state)
    #print(top_year_list)

    for year in top_year_list:
        current_year= current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file=current_year + file
            data=open(current_file,'r')
            G=json.load(data)

            for i in G['data']['districts']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']

                top_insur_dist['State'].append(state)
                top_insur_dist['Year'].append(year)
                top_insur_dist['District'].append(name)
                top_insur_dist['Transaction_count'].append(count)
                top_insur_dist['Transaction_amount'].append(amount)
                top_insur_dist['Quarter'].append(int(file.strip('.json')))

df_top_insur_dist=  pd.DataFrame(top_insur_dist)

In [10]:

#TOP_INSUR_PIN
path8="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/top/insurance/country/india/state/"
top_state_list=os.listdir(path8)
#print(top_state_list)

top_insur_pin = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_state_list:
    current_state= path8 + state +"/"
    top_year_list= os.listdir(current_state)
    #print(top_year_list)

    for year in top_year_list:
        current_year= current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file=current_year + file
            data=open(current_file,'r')
            H=json.load(data)

            for i in H['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']

                top_insur_pin['State'].append(state)
                top_insur_pin['Year'].append(year)
                top_insur_pin['Pincode'].append(name)
                top_insur_pin['Transaction_count'].append(count)
                top_insur_pin['Transaction_amount'].append(amount)
                top_insur_pin['Quarter'].append(int(file.strip('.json')))

df_top_insur_pin=  pd.DataFrame(top_insur_pin)

9.Dataframe of top transactions District-Wise

In [11]:
path9="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path9)
#print(top_state_list)

top_trans_dist = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_state_list:
    current_state= path9 + state +"/"
    top_year_list= os.listdir(current_state)
    #print(top_year_list)

    for year in top_year_list:
        current_year= current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file=current_year + file
            data=open(current_file,'r')
            I=json.load(data)

            for i in I['data']['districts']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']

                top_trans_dist['State'].append(state)
                top_trans_dist['Year'].append(year)
                top_trans_dist['District'].append(name)
                top_trans_dist['Transaction_count'].append(count)
                top_trans_dist['Transaction_amount'].append(amount)
                top_trans_dist['Quarter'].append(int(file.strip('.json')))

df_top_trans_dist=  pd.DataFrame(top_trans_dist)

10.Top Transaction Pincode-wise

In [12]:
path10="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path10)
#print(top_state_list)

top_trans_pin = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_state_list:
    current_state= path10+ state +"/"
    top_year_list= os.listdir(current_state)
    #print(top_year_list)

    for year in top_year_list:
        current_year= current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file=current_year + file
            data=open(current_file,'r')
            J=json.load(data)

            for i in J['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']

                top_trans_pin['State'].append(state)
                top_trans_pin['Year'].append(year)
                top_trans_pin['Pincode'].append(name)
                top_trans_pin['Transaction_count'].append(count)
                top_trans_pin['Transaction_amount'].append(amount)
                top_trans_pin['Quarter'].append(int(file.strip('.json')))

df_top_trans_pin=  pd.DataFrame(top_trans_pin)

11. Top User District-wise

In [13]:
#top_user
path11="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path11)

top_user_dist = {'State': [], 'Year': [], 'Quarter': [], 'District': [],'RegisteredUsers': []}

for state in top_state_list:
    current_state= path11 + state +"/"
    top_year_list= os.listdir(current_state)
    #print(top_year_list)

    for year in top_year_list:
        current_year= current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file=current_year + file
            data=open(current_file,'r')
            K=json.load(data)

            for i in K['data']['districts']:
                name = i['name']
                registeredUsers = i['registeredUsers']

                top_user_dist['RegisteredUsers'].append(registeredUsers)
                top_user_dist['District'].append(name)
                top_user_dist['State'].append(state)
                top_user_dist['Year'].append(year)
                top_user_dist['Quarter'].append(int(file.strip('.json')))

df_top_user_dist=  pd.DataFrame(top_user_dist)

12. Top User Pincode-wise

In [14]:
#top_user
path12="C:/Users/abina/OneDrive/Desktop/phonepe/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path12)

top_user_pin = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],'RegisteredUsers': []}

for state in top_state_list:
    current_state= path12 + state +"/"
    top_year_list= os.listdir(current_state)
    #print(top_year_list)

    for year in top_year_list:
        current_year= current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file=current_year + file
            data=open(current_file,'r')
            L=json.load(data)

            for i in L['data']['pincodes']:
                pincode = i['name']
                registeredUsers = i['registeredUsers']

                top_user_pin['RegisteredUsers'].append(registeredUsers)
                top_user_pin['Pincode'].append(pincode)
                top_user_pin['State'].append(state)
                top_user_pin['Year'].append(year)
                top_user_pin['Quarter'].append(int(file.strip('.json')))

df_top_user_pin=  pd.DataFrame(top_user_pin)

In [15]:
df_lat_long = pd.read_csv("C:/Users/abina/OneDrive/Desktop/phonepe/dist_lat_long.csv")

In [16]:
df_list = [df for df in globals() if isinstance(globals()[df], pd.core.frame.DataFrame) and df.startswith('df_')]

df_list

['df_agg_insur',
 'df_agg_trans',
 'df_agg_user',
 'df_map_insur',
 'df_map_trans',
 'df_map_user',
 'df_top_insur_dist',
 'df_top_insur_pin',
 'df_top_trans_dist',
 'df_top_trans_pin',
 'df_top_user_dist',
 'df_top_user_pin',
 'df_lat_long']

In [17]:
# As I noticed few mismatched between dfs loaded from pulse and lat_long_df, doing this.

for df in df_list:
    df = globals()[df]
    if'State' in df.columns:
            df["State"] = df["State"].str.replace("-"," ")
            df["State"] = df["State"].str.replace("&","And")
            df["State"] = df["State"].str.title()
   
    if 'District' in df.columns and 'State' in df.columns:
            df['District'] =df['District'].str.removesuffix(" district")
            df['District'] = df['District'].str.title()
            delhi_df = df[df['State'] == 'Delhi']
            districts_to_suffix = [d for d in delhi_df['District'].unique() if d != 'Shahdara']
            df.loc[(df['State'] == 'Delhi') & (df['District'].isin(districts_to_suffix)), 'District'] = df.loc[(df['State'] == 'Delhi') & (df['District'].isin(districts_to_suffix)), 'District'].apply(lambda x: x + ' Delhi' if 'Delhi' not in x else x)

In [18]:
for df_name in df_list:
    df = globals()[df_name]
    if 'District' in df.columns:
        df = pd.merge(df,df_lat_long, on=['State', 'District'], how='left')
        globals()[df_name] = df

In [63]:
df_agg_insur.to_csv('agg_insur.csv',index=False)
df_agg_trans.to_csv('agg_trans.csv',index=False)
df_agg_user.to_csv('agg_user.csv',index=False)
df_map_insur.to_csv('map_insur.csv',index=False)
df_map_trans.to_csv('map_trans.csv',index=False)
df_map_user.to_csv('map_user.csv',index=False)
df_top_trans_dist.to_csv('top_trans_dist.csv',index=False)
df_top_trans_pin.to_csv('top_trans_pin.csv',index=False)
df_top_user_dist.to_csv('top_user_dist.csv',index=False)
df_top_user_pin.to_csv('top_user_pin.csv',index=False)
df_top_insur_dist.to_csv('top_insur_dist.csv',index=False)
df_top_insur_pin.to_csv('top_insur_pin.csv',index=False)

"df_agg_insur.to_csv('agg_insur.csv',index=False)\ndf_agg_trans.to_csv('agg_trans.csv',index=False)\ndf_agg_user.to_csv('agg_user.csv',index=False)\ndf_map_insur.to_csv('map_insur.csv',index=False)\ndf_map_trans.to_csv('map_trans.csv',index=False)\ndf_map_user.to_csv('map_user.csv',index=False)\ndf_top_trans_dist.to_csv('top_trans_dist.csv',index=False)\ndf_top_trans_pin.to_csv('top_trans_pin.csv',index=False)\ndf_top_user_dist.to_csv('top_user_dist.csv',index=False)\ndf_top_user_pin.to_csv('top_user_pin.csv',index=False)\ndf_top_insur_dist.to_csv('top_insur_dist.csv',index=False)\ndf_top_insur_pin.to_csv('top_insur_pin.csv',index=False)"

Creating connection with MySQL

In [19]:

mysql_connection=mysql.connector.connect(
        host="localhost", #127.0.0.1
            user="root",
            password="",
            #database='phonepe_pulse'
        )
cursor=mysql_connection.cursor()

In [20]:
cursor.execute("create database if not exists phonepe_pulse")
cursor.execute("use phonepe_pulse")

In [21]:
#1.agg_insur
cursor.execute('''create table if not exists agg_insur (
            State varchar(100),
            Year int,
            Quarter int,
            Transaction_type varchar(100),
            Transaction_count int,
            Transaction_amount double
            )''')
for index,row in df_agg_insur.iterrows():
    query = "INSERT INTO agg_insur VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [22]:
#2.agg_trans
cursor.execute('''create table if not exists agg_trans (
            State varchar(100),
            Year int,
            Quarter int,
            Transaction_type varchar(100),
            Transaction_count int,
            Transaction_amount double
            )''')
for index,row in df_agg_trans.iterrows():
    query = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [23]:
#3.agg_user
cursor.execute('''create table if not exists agg_user (
            State varchar(100),
            Year int,
            Quarter int,
            Brands varchar(100),
            Transaction_Count int,
            Percentage double
            )''')

for index,row in df_agg_user.iterrows():
    query = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [24]:
#4.map_insur
cursor.execute('''create table if not exists  map_insur (
            State varchar(100),
            Year int,
            Quarter int,
            District varchar(100),
            Transaction_Count int,
            Transaction_Amount double,
            Latitude float,
            Longitude float
            )''')

for index,row in df_map_insur.iterrows():
    query = "INSERT INTO map_insur VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [25]:
#5.map_trans
cursor.execute('''create table if not exists map_trans (
            State varchar(100),
            Year int,
            Quarter int,
            District varchar(100),
            Transaction_Count int,
            Transaction_Amount double,
            Latitude float,
            Longitude float
            )''')

for index,row in df_map_trans.iterrows():
    query = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [26]:
#6.map_user
cursor.execute('''create table if not exists map_user (
            State varchar(100), 
            Year int, 
            Quarter int, 
            District varchar(100), 
            Registered_user int, 
            App_opens int,
            Latitude float,
            Longitude float
            )''')
for index,row in df_map_user.iterrows():
    query = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [27]:
#7.top_insur_dist
cursor.execute('''create table if not exists top_insur_dist (
            State varchar(100), 
            Year int,
            Quarter int,
            District varchar(100), 
            Transaction_count int,
            Transaction_amount double,
            Latitude float,
            Longitude float
            )''')
for index,row in df_top_insur_dist.iterrows():
    query = "INSERT INTO top_insur_dist VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [28]:
#8.top_insur_pin
cursor.execute('''create table if not exists top_insur_pin (
            State varchar(100),
            Year int, 
            Quarter int, 
            Pincode int, 
            Transaction_count int,
            Transaction_amount double
            )''')
for index,row in df_top_insur_pin.iterrows():
    query = "INSERT INTO top_insur_pin VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [29]:
#9.top_trans_dist
cursor.execute('''create table if not exists top_trans_dist (
            State varchar(100), 
            Year int,
            Quarter int,
            District varchar(100), 
            Transaction_count int,
            Transaction_amount double,
            Latitude float,
            Longitude float
            )''')
for index,row in df_top_trans_dist.iterrows():
    query = "INSERT INTO top_trans_dist VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [30]:
#10.top_trans_pin
cursor.execute('''create table if not exists top_trans_pin (
            State varchar(100),
            Year int, 
            Quarter int, 
            Pincode int, 
            Transaction_count int,
            Transaction_amount double
            )''')
for index,row in df_top_trans_pin.iterrows():
    query = "INSERT INTO top_trans_pin VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [31]:
#11.top_user_dist
cursor.execute('''create table if not exists top_user_dist (
            State varchar(100), 
            Year int, 
            Quarter int,
            District varchar(100),
            Registered_users int,
            Latitude float,
            Longitude float
            )''')
for index,row in df_top_user_dist.iterrows():
    query = "INSERT INTO top_user_dist VALUES (%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [32]:
#12.top_user_pin
cursor.execute('''create table if not exists top_user_pin (
            State varchar(100),
            Year int, 
            Quarter int, 
            Pincode int, 
            Registered_users int
            )''')
for index,row in df_top_user_pin.iterrows():
    query = "INSERT INTO top_user_pin VALUES (%s,%s,%s,%s,%s)"
    cursor.execute(query, tuple(row))
    mysql_connection.commit()

In [33]:
dfs = {
    'agg_trans': df_agg_trans,
    'agg_user': df_agg_user,
    'map_trans': df_map_trans,
    'map_user': df_map_user,
    'top_trans_dist': df_top_trans_dist,
    'top_trans_pin': df_top_trans_pin,
    'top_user_dist': df_top_user_dist,
    'top_user_pin': df_top_user_pin
}

In [34]:
cursor.close()

True

In [ ]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
tables

In [ ]:
pd.read_csv("C:\Users\abina\OneDrive\Desktop\phonepe\poptable.csv"